Harald Hoyer <harald@profian.com> 		    <harald@hoyer.xyz>
Harald Hoyer <harald@profian.com> 		    <harald@redhat.com>
Axel Simon <github@axelsimon.net>           <axel@redhat.com>
Axel Simon <github@axelsimon.net>
Nathaniel McCallum <nathaniel@profian.com>  <nathaniel@congru.us>
Nathaniel McCallum <nathaniel@profian.com>  <npmccallum@redhat.com>
Jarkko Sakkinen <jarkko@profian.com>        <jarkko.sakkinen@iki.fi>
Paul Pietkiewicz <paul@profian.com>         <pawel.pietkiewicz@gmail.com>
Will Woods <will@profian.com>               <will@congru.us>
Lily Sturmann <lsturman@redhat.com>
Matthew Ross <mross20@myseneca.ca>          <matt_ross_16@hotmail.com>
