[workspace]
members = [
    "iocuddle",
    "iocuddle-sgx",

    "linux-syscall",
    "linux-errno",
    "vmsyscall",
    "crt0stack",

    "sgx-show",
    "sgx-types",
    "sgx-crypto",

    "enarx-keep",
    "enarx-keep-sgx",
    "enarx-keep-sgx-shim",

    "units",
    "addr",
    "span",
    "mmap",

    "sev",
    "sev-show",
]

[patch.crates-io]
openssl = { git = 'https://github.com/npmccallum/rust-openssl', branch='patch' }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
