[package]
name = "enarx"
version = "0.4.0"
authors = ["The Enarx Project Developers"]
license = "Apache-2.0"
edition = "2021"
build = "build.rs"
homepage = "https://github.com/enarx/enarx"
repository = "https://github.com/enarx/enarx"
description = "Enarx Keep Loader"
readme = "README.md"
keywords = ["sgx", "sev", "kvm", "tee"]
categories = ["os", "os::linux-apis", "network-programming", "hardware-support"]

[badges]
# See https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section
github = { repository = "enarx/enarx", workflow = "test" }
#github = { repository = "enarx/enarx", workflow = "lint" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "enarx/enarx" }
is-it-maintained-open-issues = { repository = "enarx/enarx" }

[features]
default = ["backend-kvm", "backend-sgx", "backend-sev"]

backend-sev = ["backend-kvm", "ureq"]
backend-kvm = ["x86_64", "kvm-bindings", "kvm-ioctls"]
backend-sgx = ["x86_64", "sgx", "ureq"]
gdb = ["gdbstub"]
dbg = []
disable-sgx-attestation = []

[dependencies]
x86_64 = { version = "^0.14.9", default-features = false, optional = true }
sgx = { version = "0.4.0", features = ["openssl"], optional = true }
const-default = { version = "1.0", features = [ "derive" ] }
primordial = { version = "0.5", features = ["alloc"] }
sallyport = "0.4"
kvm-bindings = { version = "0.5", optional = true }
kvm-ioctls = { version = "0.11", optional = true }
gdbstub = { version = "0.5.0", optional = true }
protobuf = "2.22"
clap = { version = "3.1", features = ["env", "derive", "wrap_help"] }
openssl = "0.10"
bitflags = "1.2"
iocuddle = "0.1.1"
colorful = "0.2"
mmarinus = "0.2.1"
nbytes = "0.1"
anyhow = "1.0.56"
static_assertions = "1.1.0"
semver = "1.0"
goblin = "0.5"
rand = "0.8"
libc = "0.2"
lset = "0.3"
vdso = "0.2"
log = "0.4"
once_cell = "1.10.0"
env_logger = "0.9"
ureq = { version = "2.4.0", optional = true }
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
atty = "0.2"
dirs = "4.0"

# binary dependencies
enarx-shim-kvm = { version = "0.4.0", artifact = "bin", target = "x86_64-unknown-none" }
enarx-shim-sgx = { version = "0.4.0", artifact = "bin", target = "x86_64-unknown-none" }
enarx-exec-wasmtime = { version = "0.4.0", artifact = "bin", target = "x86_64-unknown-linux-musl" }

# h2 is an indirect dependency, to be specified when checking with `-Z minimal-versions`
# h2 is a dependency of hyper, which is a dep of reqwest
# h2 = "0.3.5"

[build-dependencies]
cc = "1.0.41"
walkdir = "2"
protobuf-codegen-pure = "2.27"

[dev-dependencies]
process_control = "3.3"
serial_test = "0.6"
tempfile = "3.3.0"
walkdir = "2"
wat = { version = "1.0" }
rust_exec_tests = { path = "tests/rust_exec_tests", artifact = "bin", target = "x86_64-unknown-linux-musl" }
sev_attestation = { path = "tests/sev_attestation", artifact = "bin", target = "x86_64-unknown-linux-musl" }
wasm_rust_tests  = { path = "tests/wasm/wasm_rust_tests", artifact = "bin", target = "wasm32-wasi" }

[profile.dev]
strip = true

[profile.release]
incremental = false
codegen-units = 1
lto = true
opt-level = "s"
strip = true

[profile.dev.package.rcrt1]
opt-level = 3

[workspace]
members = ["src/bin/shim-kvm", "src/bin/shim-sgx", "src/bin/exec-wasmtime"]
