[package]
name = "enarx"
version = "0.1.0"
authors = ["The Enarx Project Developers"]
license = "Apache-2.0"
edition = "2018"
build = "build.rs"
homepage = "https://github.com/enarx/enarx"
repository = "https://github.com/enarx/enarx"
description = "Enarx Keep Loader"
readme = "README.md"
keywords = ["sgx", "sev", "kvm", "tee"]
categories = ["os", "os::linux-apis", "network-programming", "hardware-support"]
include = [ "src", "internal", "build.rs", "LICENSE", "README.md", "tests", "rust-toolchain.toml" ]

[badges]
# See https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section
github = { repository = "enarx/enarx", workflow = "test" }
#github = { repository = "enarx/enarx", workflow = "lint" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "enarx/enarx" }
is-it-maintained-open-issues = { repository = "enarx/enarx" }

[features]
default = ["backend-kvm", "backend-sgx", "backend-sev", "wasmldr"]

backend-sev = ["backend-kvm"]
backend-kvm = ["x86_64", "kvm-bindings", "kvm-ioctls"]
backend-sgx = ["x86_64", "sgx"]
wasmldr = ["wat"]

[dependencies]
x86_64 = { version = "^0.14.6", default-features = false, optional = true }
sgx = { version = "0.1.0", features = ["openssl"], optional = true }
const-default = { version = "0.2", features = [ "derive" ] }
primordial = { version = "0.3", features = ["alloc"] }
sallyport = { version = "0.1", features = [ "asm" ] }
kvm-bindings = { version = "0.5", optional = true }
kvm-ioctls = { version = "0.10", optional = true }
itertools = "0.10"
protobuf = "2.22"
structopt = { version = "0.3", features = ["wrap_help"] }
openssl = "0.10"
bitflags = "1.2"
iocuddle = "0.1"
ciborium = "0.1"
colorful = "0.2"
mmarinus = "0.2"
nbytes = "0.1"
anyhow = "1.0"
semver = "1.0"
goblin = "0.4"
libc = "0.2"
lset = "0.2"
vdso = "0.1"
log = "0.4"
spinning = "0.1.0"
env_logger = "0.9"

[build-dependencies]
cc = "1.0"
wat = { version = "1.0", optional = true }
walkdir = "2"
protobuf-codegen-pure = "2.25"
sallyport = { version = "0.1", features = [ "asm" ] }

[dev-dependencies]
process_control = "3.0"
serial_test = "0.5"
tempdir = "0.3.7"

[[example]]
name="echo"
path="tests/bin/echo.rs"

[[example]]
name="memory_stress_test"
path="tests/bin/memory_stress_test.rs"

[[example]]
name="memspike"
path="tests/bin/memspike.rs"

[[example]]
name="unix_echo"
path="tests/bin/unix_echo.rs"
