[package]
name = "enarx"
version = "0.1.0"
authors = ["The Enarx Project Developers"]
license = "Apache-2.0"
edition = "2021"
build = "build.rs"
homepage = "https://github.com/enarx/enarx"
repository = "https://github.com/enarx/enarx"
description = "Enarx Keep Loader"
readme = "README.md"
keywords = ["sgx", "sev", "kvm", "tee"]
categories = ["os", "os::linux-apis", "network-programming", "hardware-support"]
include = [ "src", "internal", "build.rs", "LICENSE", "README.md", "rust-toolchain.toml" ]

[badges]
# See https://doc.rust-lang.org/cargo/reference/manifest.html#the-badges-section
github = { repository = "enarx/enarx", workflow = "test" }
#github = { repository = "enarx/enarx", workflow = "lint" }
maintenance = { status = "actively-developed" }
is-it-maintained-issue-resolution = { repository = "enarx/enarx" }
is-it-maintained-open-issues = { repository = "enarx/enarx" }

[features]
default = ["backend-kvm", "backend-sgx", "backend-sev", "wasmldr"]

backend-sev = ["backend-kvm", "reqwest"]
backend-kvm = ["x86_64", "kvm-bindings", "kvm-ioctls"]
backend-sgx = ["x86_64", "sgx"]
wasmldr = []
gdb = ["gdbstub"]
dbg = []

[dependencies]
x86_64 = { version = "^0.14.7", default-features = false, optional = true }
sgx = { version = "0.3.0", features = ["openssl"], optional = true }
const-default = { version = "1.0", features = [ "derive" ] }
primordial = { version = "0.4", features = ["alloc"] }
sallyport = { version = "0.1.0", git = "https://github.com/enarx/sallyport", rev = "fa4c6eea1c8dab54a8b8843a498b6fb883c006dd", features = [ "asm" ] }
kvm-bindings = { version = "0.5", optional = true }
kvm-ioctls = { version = "0.11", optional = true }
gdbstub = { version = "0.6.0", optional = true }
protobuf = "2.22"
structopt = { version = "0.3.16", features = ["wrap_help"] }
openssl = "0.10"
bitflags = "1.2"
iocuddle = "0.1.1"
colorful = "0.2"
mmarinus = "0.2.1"
nbytes = "0.1"
anyhow = "1.0.52"
semver = "1.0"
goblin = "0.4"
libc = "0.2"
lset = "0.2"
vdso = "0.2"
log = "0.4"
spinning = "0.1.0"
env_logger = "0.9"
reqwest = { version = "0.11", features = [ "blocking" ], optional = true }

# h2 is an indirect dependency, to be specified when checking with `-Z minimal-versions`
# h2 is a dependency of hyper, which is a dep of reqwest
# h2 = "0.3.5"

[build-dependencies]
cc = "1.0.41"
walkdir = "2"
protobuf-codegen-pure = "2.25"

[dev-dependencies]
process_control = "3.0"
serial_test = "0.5"
tempfile = "3.2.0"
walkdir = "2"
wat = { version = "1.0" }

[workspace]
members = [ "integration/sev_attestation", "integration/simple" ]
exclude = [ "internal/shim-sev", "internal/shim-sgx", "internal/wasmldr" ]
