[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true
CARGO_MAKE_WORKSPACE_EMULATION = true
CARGO_MAKE_CRATE_WORKSPACE_MEMBERS = [
	"bounds",
	"crt0stack",
	"enarx-keep",
	"enarx-keep-sev-shim",
	"enarx-keep-sgx",
	"enarx-keep-sgx-shim",
	"enumerate",
	"integration-tests",
	"intel-types",
	"keep-runtime",
	"loader",
	"memory",
	"rcrt1",
	"sallyport",
	"sev",
	"sevctl",
	"sgx",
	"units",
	"vdso"
]
ENARX_TEST_DIR = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/.tests"
ENARX_DOCS_DIR = "${CARGO_MAKE_WORKSPACE_WORKING_DIRECTORY}/docs"

# Run all automated unit and integration tests locally (except
# for any tests that modify platform state).
[tasks.ci]
workspace = false
dependencies = ["fork-for-crate-ci-flows", "workspace-ci-flows"]

# ! WARNING !
#
# This target will run a number of tests that will directly
# manipulate the hardware on the platform you're running on
# (if equipped). Only invoke this task if you know what
# you're doing.
#
# You probably want the 'ci' task, not this one.
[tasks.deep-ci]
workspace = false
dependencies = [
	"fork-for-crate-deep-ci-flows",
	"workspace-deep-ci-flows",
]

# Tasks that must be ran once at the workspace root (i.e., they don't
# make sense to run for individual crates).
[tasks.workspace-ci-flows]
workspace = false
dependencies = [
	"misc-diagrams",
	"integration",
]

[tasks.workspace-deep-ci-flows]
workspace = false
dependencies = ["workspace-ci-flows"]

# Wrapper task for crate-specific tasks. Using this wrapper
# allows the crate-ci-flows to be expressed as an array of
# dependencies. It is important to fork so that cargo-make's
# child process detects that it is running in a workspace
# member crate, and it will shed the previous "workspace = false"
# constraint.
[tasks.fork-for-crate-ci-flows]
run_task = { name = "crate-ci-flows", fork = true }

[tasks.fork-for-crate-deep-ci-flows]
run_task = { name = "crate-deep-ci-flows", fork = true }

# Tasks that must be ran against individual crates.
[tasks.crate-ci-flows]
dependencies = [
	"ci-flow"
]

[tasks.crate-deep-ci-flows]
dependencies = [
	"crate-ci-flows",
	"deep-test",
]

# Run real code against real Enarx keeps to test various bits
# and bobs of functionality.
[tasks.integration]
workspace = false
dependencies = [
	"pre-integration",
	"integration-test",
]

# Builds the required crates for the integration tests. You
# probably want to run the "integration" task, not this one.
# The "integration" task will invoke this automatically.
[tasks.pre-integration]
workspace = false
env = { "CARGO_MAKE_WORKSPACE_INCLUDE_MEMBERS" = ["enarx-keep", "enarx-keep-sgx", "enarx-keep-sgx-shim", "enarx-keep-sev-shim"] }
run_task = { name = "build", fork = true }

# Launches the integration tests. You probably want to run
# the "integration" task, not this one. The "integration" task
# will run this automatically once the dependencies have been built.
[tasks.integration-test]
workspace = false
env = { "CARGO_MAKE_WORKSPACE_INCLUDE_MEMBERS" = "integration-tests" }
run_task = { name = "_test", fork = true }

# The integration-tests crate disables the regular "test" target to avoid
# accidentally misfiring during the regular ci-flows since its dependent
# targets might not be built and would therefore spuriously fail. You don't
# want to run this task manually.
[tasks._test]
command = "cargo"
args = ["test"]

# !WARNING!
#
# See warning message under [tasks.deep-ci]
[tasks.deep-test]
# Stubbed. Crates must override this specifically if there's
# anything special to be done to "turn on" the deep testing
# requirements.

[tasks.deny]
command = "cargo"
args = ["deny", "check", "licenses"]

[tasks.misc-lints-missing-docs]
command = "${ENARX_TEST_DIR}/misc-lints-missing-docs"

[tasks.cargo-toml-package-edition]
install_crate = { crate_name = "toml-cli", binary = "toml", test_arg = "--help" }
command = "${ENARX_TEST_DIR}/cargo-toml-package-edition"

[tasks.misc-lints-clippy-all]
command = "${ENARX_TEST_DIR}/misc-lints-clippy-all"

[tasks.misc-licenses-rs-spdx]
command = "${ENARX_TEST_DIR}/misc-licenses-rs-spdx"

[tasks.misc-licenses-asm-spdx]
command = "${ENARX_TEST_DIR}/misc-licenses-asm-spdx"

[tasks.misc-diagrams]
workspace = false
command = "cargo"
args = ["make", "check-diagrams"]
cwd = "${ENARX_DOCS_DIR}"

[tasks.cargo-toml-package-license]
command = "${ENARX_TEST_DIR}/cargo-toml-package-license"

[tasks.misc-licenses-crate]
command = "${ENARX_TEST_DIR}/misc-licenses-crate"

# Add additional tests to the predefined 'ci-flow' target.
[tasks.pre-ci-flow]
dependencies = [
	"cargo-toml-package-edition",
	"cargo-toml-package-license",
	"check-format",
	"deny",
	"misc-licenses-asm-spdx",
	"misc-licenses-crate",
	"misc-licenses-rs-spdx",
	"misc-lints-clippy-all",
	"misc-lints-missing-docs",
]

# Remove Cargo.lock files in cases where compilation fails
# due to incorrect library update propogation
[tasks.dist-clean]
dependencies = ["clean"]
command = "rm"
args = ["-f", "Cargo.lock"]
