[package]
name = "tcp_server"
version = "0.1.0"
edition = "2021"
license = "MIT"

[target.'cfg(any(unix, target_os="wasi"))'.dependencies]
env_logger = { version = "0.9.0", default-features = false }
mio = { version = "0.8.3", features = ["os-poll", "net"], default-features = false }
