[package]
name = "enarx-shim-kvm"
version = "0.5.1"
edition = "2021"
description = "Enarx KVM shim"
authors = ["The Enarx Project Developers"]
repository = "https://github.com/enarx/sallyport"
license = "Apache-2.0"

[features]
gdb = ["dep:gdbstub", "dep:gdbstub_arch", "dbg"]
dbg = []

[dependencies]
aes-gcm = { version = "0.9", features = ["force-soft"], default-features = false }
array-const-fn-init = { version = "0.1", default-features = false }
const-default = { version = "1.0", features = ["derive"], default-features = false }
crt0stack = { version = "0.1", default-features = false }
goblin = { version = "0.5", features = ["elf64"], default-features = false }
linked_list_allocator = { version = "0.10.0", default-features = false }
lset = { version = "0.3", default-features = false }
nbytes = { version = "0.1", default-features = false }
noted = { version = "1.0.0", default-features = false }
primordial = { version = "0.5", default-features = false }
rcrt1 = { version = "2.4.0", default-features = false }
sallyport = { version = "0.5.1", path = "../sallyport", default-features = false }
spinning = { version = "0.1", default-features = false }
x86_64 = { version = "0.14.9", features = ["instructions", "inline_asm"], default-features = false }
xsave = { version = "2.0.2", default-features = false }

# optional dependencies
gdbstub = { version = "0.5.0", optional = true, default-features = false }
gdbstub_arch = { version = "0.1.1", optional = true, default-features = false }

[dev-dependencies]
testaso = { version = "0.1.0", default-features = false }

[[bin]]
name = "enarx-shim-kvm"
test = false
