[package]
name = "enarx-shim-kvm"
version = "0.7.0"
edition = "2021"
description = "Enarx KVM shim"
authors = ["The Enarx Project Developers"]
repository = "https://github.com/enarx/sallyport"
license = "Apache-2.0"

[features]
gdb = ["dep:gdbstub", "dep:gdbstub_arch", "dbg"]
dbg = []
bench = []

[dependencies]
aes-gcm = { workspace = true }
array-const-fn-init = { workspace = true }
bitflags = { workspace = true }
const-default = { workspace = true, features = ["derive"] }
crt0stack = { workspace = true }
goblin = { workspace = true }
linked_list_allocator = { workspace = true }
lset = { workspace = true }
nbytes = { workspace = true }
noted = { workspace = true }
paste = { workspace = true }
primordial = { workspace = true }
rcrt1 = { workspace = true }
sallyport = { workspace = true }
shared = { workspace = true }
spin = { workspace = true }
x86_64 = { workspace = true, features = ["inline_asm", "instructions"] }
xsave = { workspace = true }

# optional dependencies
gdbstub = { workspace = true, optional = true }
gdbstub_arch = { workspace = true, optional = true }

[dev-dependencies]
testaso = { workspace = true }

[[bin]]
name = "enarx-shim-kvm"
test = false
