[package]
name = "sallyport"
version = "0.4.0"
edition = "2021"
description = "API for the Enarx hypervisor-microkernel boundary"
authors = ["The Enarx Project Developers"]
repository = "https://github.com/enarx/enarx"
license = "Apache-2.0"
keywords = ["enarx", "syscall"]
categories = ["no-std"]

[features]
doc = ["gdbstub"]

[dependencies]
goblin = { version = "0.5", default-features = false, features = ["elf64"] }

# optional features
gdbstub = { version = "0.6", default-features = false, optional = true }

[dev-dependencies]
libc = { version = "0.2.102", features = ["extra_traits"] }
serial_test = "0.6"
testaso = "0.1"

[package.metadata.docs.rs]
all-features = true
