name: Update Nix flake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  nix-update:
    permissions:
      contents: write
      pull-requests: write
    secrets: inherit
    uses: enarx/.github/.github/workflows/nix-update.yml@main
