name: test

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: enarx ${{ matrix.backend.name }} nightly ${{ matrix.profile.name }}
    runs-on: ${{ matrix.backend.host }}
    env:
        ENARX_BACKEND: ${{ matrix.backend.name }}
    steps:
      - run: sudo apt -o Acquire::Retries=3 update
      - run: sudo apt -o Acquire::Retries=3 install -y musl-tools
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          target: x86_64-unknown-linux-musl
          toolchain: nightly-2022-02-25
          override: true
      - run: rustup target add wasm32-wasi
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: ${{ matrix.profile.flag }} --no-default-features --features=backend-${{ matrix.backend.name }} --features=wasmldr
    strategy:
      fail-fast: false
      matrix:
        backend:
          - {name: sev, host: [self-hosted, linux, sev-snp]}
          - {name: sgx, host: [self-hosted, linux, sgx]}
          - {name: kvm, host: [self-hosted, linux]}
        profile:
          - name: debug
          - name: debug with dbg
            flag: --features=dbg
          - name: release
            flag: --release

  build-only:
    name: enarx build-only nightly ${{ matrix.profile.name }}
    runs-on: ubuntu-20.04
    steps:
      - run: sudo apt -o Acquire::Retries=3 update
      - run: sudo apt -o Acquire::Retries=3 install -y musl-tools
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          target: x86_64-unknown-linux-musl
          toolchain: nightly-2022-02-25
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: ${{ matrix.profile.flag }}
    strategy:
      fail-fast: false
      matrix:
        profile:
          - name: default-features
          - name: gdb
            flag: --features=gdb

  internal:
    name: ${{ matrix.crate }} nightly ${{ matrix.profile.name }}
    runs-on: ubuntu-20.04
    steps:
      - run: sudo apt -o Acquire::Retries=3 update
      - run: sudo apt -o Acquire::Retries=3 install -y musl-tools
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          target: x86_64-unknown-linux-gnu
          toolchain: nightly-2022-02-25
          override: true
      - run: cargo test ${{ matrix.profile.flag }} --target x86_64-unknown-linux-gnu
        working-directory: internal/${{ matrix.crate }}
    strategy:
      fail-fast: false
      matrix:
        crate:
          - shim-sgx
          - shim-sev
          - wasmldr
        profile:
          - name: debug
          - name: release
            flag: --release

  nix:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: cachix/install-nix-action@v16
    - run: nix flake check
    - run: nix develop --ignore-environment -c cargo build
